.home-main {
    background-color: #025464;
    padding-top: 64px;
}

.h1-style {
    display: flex;
    justify-content: center;
    color: #F8F1F1;
    font-style: italic;
    animation: color-animation 4s linear infinite;

}

.link-section {
    display: flex;
    justify-content: center;
    padding-top: 96px;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 114px;
    color: #F8F1F1;
    background: linear-gradient(to bottom right, #E8AA42, #E57C23);
    border: 4px solid;
    
    border-color: black;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 24px;
    cursor: pointer;

}


.bi {

    color: black;
}