.current-weather-container {
    width: 550px;
    margin-left: 24px;
    margin-right: 24px;
    background: rgb(85, 178, 209);
    background: linear-gradient(180deg, rgba(85, 178, 209, 0.5) 0%, rgba(85, 178, 209, 0) 80%);
    -webkit-box-shadow: -9px 9px 0px 0px rgba(2, 84, 100, 1);
    -moz-box-shadow: -9px 9px 0px 0px rgba(2, 84, 100, 1);
    box-shadow: -9px 9px 0px 0px rgba(2, 84, 100, 1);
}

.h3-style-currentweather {
    display: flex;
    justify-content: center;
    color: #F8F1F1;
}

.h5-style-currentwather-date {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    font-size: 30px;
    line-height: 40px;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
    color: #F8F1F1;
}

.weather-today-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 64px;
}

.bi-cloud-fill {
    font-size: 156px;
    margin-right: 38px;

}

.weather-today-details {
    display: flex;
    flex-direction: column;
    color: #F8F1F1;
    font-weight: bold;
}

.h4-style-weather-details {
    margin-top: 14px;
}