.current-weather-container {
    width: 650px;
    margin-left: 24px;

    background: #F8F1F1;
    -webkit-box-shadow: 9px 9px 0px 0px black;
    -moz-box-shadow: 9px 9px 0px 0px black;
    box-shadow: 9px 9px 0px 0px black;
    border: 4px solid;
    border-color: black;
}

.h3-style-currentweather {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 48px;
}

.h5-style-currentwather-date {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    font-size: 30px;
    line-height: 40px;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.weather-today-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 48px;
    color: black;
}

.current-weather-icon > i{
    font-size: 156px;
    margin-right: 38px;
    color: #025464;

}

.weather-today-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #025464;
    font-weight: bold;
}

.h4-style-weather-details {
    margin-top: 14px;
}
.current-weather-params {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 24px;
}

.current-weather-params-first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current-weather-params-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current-weather-sunset-sunrise {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 48px;
}

.hourly-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 14px;
}

.hourly-hr {
    margin-top: 18px;
    width: 600px;
    border: 2px solid;
}

.weather-details-description-span {
    font-weight: bold;
    
}

.pressure-icon {
    width: 20px;
    height: 20px;
}

.real-fell-temp {
    margin-top: 12px;
    margin-bottom: 18px;
}

.humidity {
    margin-top: 12px;
    margin-bottom: 18px;
}

