.current-weather-container {
    width: 550px;
    margin-left: 24px;
    background: #F8F1F1;
    -webkit-box-shadow: 9px 9px 0px 0px #025464;
    -moz-box-shadow: 9px 9px 0px 0px #025464;
    box-shadow: 9px 9px 0px 0px #025464;
    border: 4px solid;
    border-color: #025464;
}

.h3-style-currentweather {
    display: flex;
    justify-content: center;
    color: black;
}

.h5-style-currentwather-date {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    font-size: 30px;
    line-height: 40px;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.weather-today-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 48px;
    color: black;
}

.bi-cloud-fill {
    font-size: 156px;
    margin-right: 38px;
    color: #025464;

}

.weather-today-details {
    display: flex;
    flex-direction: column;
    color: #025464;
    font-weight: bold;
}

.h4-style-weather-details {
    margin-top: 14px;
}
.current-weather-params {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 48px;
}

.current-weather-params-first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current-weather-params-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current-weather-sunset-sunrise {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 48px;
}

.hourly-forecast {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}

.weather-details-description-span {
    font-weight: bold;
}

