.daily-weather {
    height: 96px;
    width: 600px;
    margin-bottom: 16px;
    border: 4px solid;
    background:  #025464;
    /* border-radius: 10px; */
    -webkit-box-shadow: 9px 9px 0px 0px black;
    -moz-box-shadow: 9px 9px 0px 0px black;
    box-shadow: 9px 9px 0px 0px black;
    /* color: #F8F1F1; */

}