.weather-container {
    margin-top: 128px;

}

.h2-style {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.weather-location {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}


.weather-location-button {
    margin-left: 12px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
} 


.forcast {
    margin-top: 96px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.forcast-currentweather {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 48px;
    margin-right: 24px;
}

.forcast-dailyweather {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}