.weather-container {
    margin-top: 128px;

}
.weather-main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 300px;
   


}

.h2-style {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.weather-location {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}


.weather-location-button {
    margin-left: 12px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
} 

.weather-home-image {

    height: 300px;
    width: 300px;
}


.forcast {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.forcast-currentweather {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    /* margin-right: 200px; */
}

.forcast-dailyweather {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.forcast-dailyweather-title {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    font-weight: 400;
}