.todo-container {
    margin-left: 48px;
    margin-top: 96px;
    max-width: 500px;
    /* border-radius: 10px; */
    /* background: linear-gradient(#F8F1F1, #F8F1F1) padding-box,
        linear-gradient(to bottom right, #E8AA42, #E57C23) border-box;
    border: 4px solid transparent; */
    border: 4px solid;
    border-color: black;
    background-color: #F8F1F1;

}

.todo-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.todo-main-section {
    display: flex;
    justify-content: space-between;
}

.todo-priority-title {
    display: flex;
}

.todo-edit-delete-button {
    visibility: hidden;
}

.todo-container:hover {
    .todo-edit-delete-button {
        visibility: visible;
    }
}

.todo-title {
    margin-left: 8px;
    width: 242px;
    border: 1px solid;
    border-color: white;
    background-color: #F8F1F1;
}

.todo-title:focus,
.todo-title:active {
    outline: none;
    box-shadow: none;
}

.todo-date {
    margin-top: 28px;
    width: 242px;
    border: 1px solid;
    border-color: white;
    color: rgba(0, 0, 0, 0.5);
    background-color: #F8F1F1;
}

.todo-date:focus,
.todo-date:active {
    outline: none;
    box-shadow: none;
    color: black;
}

.todo-description {
    margin-top: 28px;
    margin-bottom: 12px;
    max-width: 484px;
    min-width: 484PX;
    width: 484px;
    min-height: 250px;
    border: 1px solid;
    color: rgba(0, 0, 0, 0.5);
    border-color: white;
    background-color: #F8F1F1;

}

.todo-description:focus,
.todo-description:active {
    outline: none;
    box-shadow: none;
    color: black;
}