

.name-imput {
    width: 25rem;
    height: 3.5rem;
    border: 4px solid black;
    margin-bottom: 4px;
    text-indent: 15px;
    margin-bottom: 1rem;
}



.email-input-create-account {  
    width: 25rem;
    height: 3.5rem;
    border: 4px solid black;
    margin-bottom: 4px;
    text-indent: 15px;
    margin-bottom: 1rem;
}

.password-input-create-account {
    width: 25rem;
    height: 3.5rem;
    border: 4px solid black;
    margin-bottom: 4px;
    text-indent: 15px;
    margin-bottom: 1rem;
}

.form-signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.input-submit-signup  {
    font-weight: bold;
    width: 12rem;
    height: 3rem;
    flex-shrink: 0;
    border: 4px solid black;
    background: var(--Gradient---Button-Gradient, linear-gradient(126deg, #E8AA42 21.97%, #E57C23 77.56%));
    margin-top: 1.5rem;
}




