.signup-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/background_dtdl.png"); 
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -100;
}

/* .signup-right{
    flex: 40%;
    height: 100vh;
    background-color: #025464;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sign-up-image-logo {
    display: flex;
    width: 36rem;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    
}

.sign-up-image {
    height: 35rem;
    width: 37rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motive-text {
    color: #E8AA42;
    display: flex;
    justify-content: center;
} */


/* .waves-singup{
    rotate: 180deg;
} */


.signup-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
    

}

.sign-up-image-logo {
    width: 26rem;
 
    
}

.signup-text{
    display: flex;
    justify-content: center;

}

.signup-text-div {
   position: relative;
    height: 4.5rem;
    width: 40rem;
    border: 4px dashed  black ;
    background: rgb(229,124,35);
    background: linear-gradient(135deg, rgba(229,124,35,1) 0%, rgba(230,143,48,1) 12%, rgba(231,156,56,1) 25%, rgba(232,170,66,1) 41%, rgba(236,185,99,1) 56%, rgba(239,196,125,1) 72%, rgba(244,217,171,1) 86%, rgba(242,226,199,1) 100%);
    margin-top: 2.75rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.signup-text-h3 {
    width: 26rem;
    height: 5.5rem;
    background-color: white;
    border: 4px dashed  black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}


.question-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.create-account-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-sign-up {
    margin-top: 3rem;
}

@media (max-width: 767px) {
    .signup-text-div {
        width: 40rem;
    }
    .signup-text-h2 {
        width: 20rem;
    }
    
}

