.daily-weather {
    height: 96px;
    width: 40vw;
    background: rgb(85, 178, 209);
    background: linear-gradient(180deg, rgba(85, 178, 209, 0.5) 0%, rgba(85, 178, 209, 0.25) 80%);
    margin-bottom: 16px;
    border-radius: 10px;

}