.daily-container {
    margin-top: 128px;
}


.h2-style-daily {
    display: flex;
    justify-content: center;
}


.daiylist-callender-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 96px;
}

.callender {
    margin-top: 32px;

}

.dailylist {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.dailylist-none-daily{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dailylist-none-daily  > img{
    height: 400px;
    width: 400px;
}

.dailylist-hr {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 64px;
    margin-bottom: 32px;
}