
.note-form-title {
    margin-bottom: 5px;
}

.note-form-title-input{
    width: 550px;
    height: 35px;
    border: 4px solid;
    border-color: #F8F1F1;
}
.note-form-title-input:focus,
.note-form-title-input:active {
    outline: none;
    box-shadow: none;
}

.note-form-description {
    margin-top: 40px;
    margin-bottom: 5px;
}
.note-form-description-input{
    max-width: 550px;
    min-width: 550px;
    max-height: 300px;
    min-height: 300px;
    resize: none;
    border: 4px solid;
    border-color: #F8F1F1;
}

.note-form-description-input:focus,
.note-form-description-input:active {
    outline: none;
    box-shadow: none;
}


.note-form-save-button-position {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 5px;
}

.note-form-save-button {
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-color: black;
    background-color: #025464;
    color: #F8F1F1;
    font-weight: bold;

}

